{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur!{% endblock %}

{% block body %}


<div class="bg-gradient-primary mt-4 w-100p-3 mb-10 bg-secondary text-white"><p class="text-center">Mon tableau de bord</p></div>



<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/drake.jpg">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <title>
{% for user in users %}
{{user.prenom}}
{% endfor %}
  </title>
  
  <link id="pagestyle" href="../assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-5 fixed-start ms-0   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
        <img src="../assets/img/traveling.jpg" class="navbar-brand-img h-50" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">
        {% for user in users %}
{{user.prenom}}
{% endfor %}</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white " href="../pages/dashboard.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
         <i class="fas fa-plane"></i>
         <a class="btn bg-gradient-primary mt-3 w-100" href="{{path ('dashboard_all_vols')}}"
            </div>
            <span class="nav-link-text ms-1">Les Vols</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="../pages/tables.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fas fa-hotel"></i>

              <a class="btn bg-gradient-primary mt-3 w-100" href="{{path ('dashboard_all_hebergements')}}"

            </div>
            <span class="nav-link-text ms-1">Les hebergements</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="../pages/tables.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
             <i class="fas fa-user"></i>
             <a class="btn bg-gradient-primary mt-3 w-100" href="{{path('dashboard_all_users')}}"
            </div>
            <span class="nav-link-text ms-1">Les Utilisateurs</span>
          </a>
        </li>

      </ul>
    </div>
    <div class="sidenav-footer position-absolute w-100 bottom-0 ">
      <div class="mx-3">
        <a class="text-white btn bg-warning mt-4 w-100" href="{{path ('home')}}" type="button">TRAVELING</a>
      </div>
    </div>
  </aside>
  </body>

</html>

{% endblock %}
